.hide {
	display: none;
}

.clear {
	clear: both;
}

.video-container {
	border: 1px solid #EEE;
	padding: 16px 21px;
	overflow: hidden;
}

.user-pic .user-picture {
	margin: 0 15px 0 0 !important;
}

.user-pic .user-picture img {
	height: 30px;
}

.video-wrapper {
	float: left;
	width: 95%;
}

.user-info {
	margin: 5px;
	10
	px;
}

.activity-time a {
	font-size: 11px;
	color: gray !important;
}

.user-name {
	font-size: 13px;
	font-weight: bold;
}

.video-details {
	float: left;
	width: 100%;
}

.video-thumb {
	float: left;
	margin-top: 9px;
}

.video-meta {
	float: left;
	margin: 0 12px;
	width: 61%;
}

.video-title {
	color: black !important;
	font-weight: bold;
	margin-bottom: 5px;
}

.video-desc {
	font-size: 11px;
}

.video-data {
	font-size: 10px;
	color: gray !important;
}

.yt_upload_video {
	background: none repeat scroll 0 0 #E0E3EB;
	border: 1px solid #E0E3EB;
	margin: 0 0 5px;
	padding: 5px;
}

.yt_upload_video legend {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.yt_upload_video .form-submit {
	background-color: #E0E0E0;
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	color: black;
	float: right;
	font-weight: bold;
	margin-right: 29px;
	width: 72px;
	background-image: -moz-linear-gradient(center top, #FFFFFF 0pt, #E0E0E0 100%)
		;
}

.video-comment {
	background: #F1FAFB none repeat scroll 0 0;
	border: 1px solid #B2E6EB;
	margin: 0 0 5px;
	padding: 5px;
	width: 90%;
}

.youtube-comment-box {
	margin-top: 10px;
	background: none repeat scroll 0 0 #EBEBEB;
	padding-top: 5px;
}

.show-more-link {
	background: none repeat scroll 0 0 #EBEBEB;
	border-top: 1px solid #FFFFFF;
}