.hide {
	display: none;
}

.clear {
	clear: both;
}

.foursquare-checkin {
	border-bottom: 1px solid gray;
	margin: 20px 10px;
}

.venue-thumb {
	float: left;
}

.venue-name {
	float: left;
	padding-left: 5px;
}

.checkin-time {
	float: left;
	width: 90%;
	margin: 5px;
}

.checkin-time a {
	color: gray;
	font-size: 10px;
}

.fs_post_comment {
	background: #F1FAFB none repeat scroll 0 0;
	border: 1px solid #B2E6EB;
	margin: 0 0 5px;
	padding: 5px;
}

.fs_comment_user_picture {
	background: #CCCCCC none repeat scroll 0 0;
	float: left;
	height: 35px;
	overflow: hidden;
	width: 35px;
}

.fs_stream_post_comments {
	width: 510px;
	margin-left: 40px;
}

.fs_comment_message {
	float: right;
	width: 453px;
}

.fs_comment_user_message {
	padding: 5px 0 0 0;
}

.fs_comment_created {
	color: #999999;
	margin: 10px 0 0;
}

.fs_post_comment_form {
	background: none repeat scroll 0 0 #F0F4F5;
	border: 1px solid #DAE4E6;
	margin: 0 39px 5px;
	padding: 5px;
	width: 499px;
}

.fs_comment_add_form .form-submit {
	background: -moz-linear-gradient(center top, #A7E300, #99D100) repeat
		scroll 0 0 transparent;
	border: 1px solid #87B800;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font: bold 11px/ 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	padding: 0 10px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}