.tewwt_container {
	clear: both;
	margin-bottom: 20px;
	border-bottom: 1px dotted;
}

.inside-overlay {
	background-color: #EEEEEE;
	border-bottom: 0 dotted;
	border-top: 1px solid #E5E5E5;
	color: #000000;
	margin: 10px 0;
	padding: 10px 0;
	text-align: left;
}

.user_image {
	float: left;
	margin: 10px;
}

.tweet_user {
	display: block;
	color: #04ACFA;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.tweet_body {
	display: block;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 5px;
}

.reply_image {
	background-image: url("../../images/icon-twitter-reply.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: text-top;
	width: 14px;
}

.tweet_time em {
	font-size: 11px;
	font-style: italic;
}

.tweet_time a {
	color: #15B2FA;
	cursor: pointer;
	text-decoration: none;
}

.tweet_favorited {
	color: #FF9B00 !important;
}

.tweet_retweet {
	color: #609928 !important;
}

.tweet_des {
	margin-bottom: 5px;
}

.twitter-input {
	padding-bottom: 10px;
	padding-top: 10px;
}

.tweet_reply_box {
	width: 490px;
	height: 230px;
	margin-top: 25px;
	border: 1px solid #EEEEEE;
}

.twitter-anywhere-tweet-box-editor {
	padding: 6px 8px 5px;
	color: #222;
	font-size: 13px;
	line-height: 18px;
	outline: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	width: 452px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 56px;
}

.twitter-button {
	text-align: right;
	padding-right: 10px;
}

.primary-btn,.following.first-hover .follow-btn:hover,.following .follow-btn
	{
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	background-color: #019AD2;
	padding: 5px 10px;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#33BCEF),
		to(#019AD2) );
	background-image: -moz-linear-gradient(#33BCEF, #019AD2);
	background-image: -ms-linear-gradient(#33BCEF, #019AD2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33BCEF),
		color-stop(100%, #019AD2) );
	background-image: -webkit-linear-gradient(#33BCEF, #019AD2);
	background-image: -o-linear-gradient(#33BCEF, #019AD2);
	background-image: linear-gradient(#33BCEF, #019AD2);
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#33bcef', endColorstr =     '#019ad2', GradientType =     0 );
	border-color: #057ED0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.twitterBox {
	background: #FFF none repeat scroll 0 0;
	border: 1px solid #B2E6EB;
	margin: 0 0 5px;
	padding: 5px;
}

.twitterBox legend {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.twitterBox div .form-item-tweet {
	margin-left: 20px;
	outline: none;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: hidden;
}

.twitterBox div .form-item-tweet label {
	display: inline !important;
}

.twitterBox div .form-item-tweet textarea {
	display: inline !important;
}

.tweetcount {
	color: #C3C3C3;
	float: right;
	font-size: 16px;
	margin-right: 10px;
	top: 20px;
}

.twitterBox .form-submit {
	float: right;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	background-color: #019AD2;
	padding: 5px 10px;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#33BCEF),
		to(#019AD2) );
	background-image: -moz-linear-gradient(#33BCEF, #019AD2);
	background-image: -ms-linear-gradient(#33BCEF, #019AD2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33BCEF),
		color-stop(100%, #019AD2) );
	background-image: -webkit-linear-gradient(#33BCEF, #019AD2);
	background-image: -o-linear-gradient(#33BCEF, #019AD2);
	background-image: linear-gradient(#33BCEF, #019AD2);
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#33bcef', endColorstr =     '#019ad2', GradientType =     0 );
	border-color: #057ED0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}