.hide {
	display: none;
}

.clear {
	clear: both;
}

.plus-post {
	border: 1px solid #EEE;
	padding: 16px 21px;
}

.user-image {
	float: left;
	margin: 8px;
}

.post-inner {
	float: left;
	width: 85%;
}

.post-timestamp a {
	color: gray;
}

.post-content {
	margin: 5px;
}

.content-text {
	margin-bottom: 10px;
}

.attachement-title {
	font-weight: bold;
}

.attachement-image {
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	max-height: 120px;
	max-width: 402px;
}

.attachement-content {
	display: table;
}

.post-share-plus {
	color: gray;
	font-size: 11px;
}