.hide {
	display: none;
}

.clear {
	clear: both;
}

.linkedin_share_msg {
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 10px;
}

.linkedin-positions {
	width: 100%;
}

.user_thumb {
	float: left;
	margin: 10px;
}

.msg_content {
	float: right;
	margin: 10px 5px;
	width: 81%;
}

.user_post {
	margin-bottom: 5px;
}

.user_post_content {
	margin-bottom: 10px;
	margin-top: 5px;
	font: 86.5%;
}

.like_comment_cont {
	font-size: 11px;
	color: gray;
	margin-top: 16px;
}

.post_content_image {
	float: left;
	padding-right: 15px;
}

.post_content_body {
	float: left;
	width: 83%;
}

.linkedin_stream_comments {
	margin-top: 10px;
}

.linkedin_post_comment {
	background: #F1FAFB none repeat scroll 0 0;
	border: 1px solid #B2E6EB;
	margin: 0 0 5px;
	padding: 5px;
}

.linkedin_share_post {
	background: #FFF none repeat scroll 0 0;
	border: 1px solid #B2E6EB;
	margin: 0 0 5px;
	padding: 5px;
}

.linkedin_share_post legend {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.linkedin_share_post div .form-item-status {
	margin-left: 20px;
}

.linkedin_share_post .form-submit {
	background-color: #156A91;
	border-color: #156A91;
	color: white;
	float: right;
	margin-bottom: 10px;
	margin-right: 29px;
	width: 62px;
}

.linkedin_comment_user_picture {
	background: #CCCCCC none repeat scroll 0 0;
	float: left;
	height: 50px;
	overflow: hidden;
	width: 50px;
}

.linkedin_comment_message {
	float: right;
	width: 410px;
}

.linkedin_comment_user_message {
	padding: 0 0 0 5px;
}

.linkedin_comment_created {
	color: #999999;
	margin: 10px 0 0;
}